{% extends 'base.html' %}

{% block head %}
<title>Delete Database</title>
{% endblock %}

{% block body %}
<div class = 'content'>
    <h1 style = 'text-align: center'>Delete Database</h1>

    <div class = 'form'>
        <form action = '/delete/{{id}}', method = 'POST'>
            <input type = 'hidden' name = 'id'>
            <input type = 'submit' value="Delete">
        </form>
    </div>
</div>
{% endblock %}
