{% extends 'base.html' %}

{% block head %}
<title>Update Database</title>
{% endblock %}

{% block body %}
<div class = 'content'>
    <h1 style = 'text-align: center'>Update Database</h1>

    <div class = 'form'>
        <form action = '/updatedata/{{record.id}}' method = 'POST'>
            <label for = 'first_name'>First Name:</label>
            <input type = 'text' name = 'first_name' id = 'firstname' value="{{record.first_name}}">
            <label for = 'last_name'>Last Name:</label>
            <input type = 'text' name = 'last_name' id = 'lastname' value="{{record.last_name}}">
            <label for = 'email'>Email:</label>
            <input type = 'text' name = 'email' id = 'email' value="{{record.email}}">
            <label for = 'gender'>Gender:</label>
            <input type = 'text' name = 'gender' id = 'gender' value="{{record.gender}}">
            <label for = 'ip_address'>IP Address:</label>
            <input type = 'text' name = 'ip_address' id = 'ipaddress' value="{{record.ip_address}}">
            <input type = 'submit' value= 'Update'>
        </form>
    </div>
</div>
{% endblock %}
