<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body>  
  
<table border=5>  
    <thead>  
        <td>ID</td>  
        <td>First Name</td>
        <td>Last Name</td>  
        <td>Email</td>
        <td>Gender</td>  
        <td>IP Address</td>  
        <td>Actions</td>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{ row["id"] }}</td>  
            <td>{{ row["first_name"] }}</td>  
            <td>{{ row["last_name"] }}</td>
            <td>{{ row["email"] }}</td>
            <td>{{ row["gender"] }}</td>
            <td>{{ row["ip_address"] }}</td>  
            <td>
                <a href = "/delete/{{row['id']}}">Delete</a>
                <br>
                <a href = "/update/{{row['id']}}">Update</a>
            </td>
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/">Back to home page</a>  
  
</body>  
</html>  